
.sidebar {
  background-color: var(--gray-300);
  height: 16rem;
  width: 20rem;
  margin: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sidebar img {
  width: 100%;
  height: calc(60%);
  object-fit: cover;
}